@keyframes slideInLeft {
    from{
        opacity: 0%;
        transform: translateX(-500px);
    }
    to{
        opacity: 100%;
        transform: translateX(0);
    }
}
.slideInLeft{
    animation: slideInLeft 1s ease-in-out 200ms 1 normal forwards;
}
@keyframes slideInUp{
    from{
        opacity: 0%;
        transform: translate(-50%,0);
    }
    to{
        opacity: 100%;
        transform: translate(-50%,-100px);
    }
}
.slideInUp{
    animation: slideInUp 1s ease-in-out 200ms 1 normal forwards;
}
@keyframes slideInDown{
    from{
        opacity: 0%;
        transform: translate(0,-100px);
    }
    to{
        opacity: 100%;
        transform: translate(0,0px);
    }
}
.slideInDown{
    animation: slideInDown 1s ease-in-out 200ms 1 normal forwards;
}
@keyframes sliderMovement {
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}
.slider__movement{
    animation: sliderMovement 40s linear infinite;
}