*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
p{
    text-wrap: pretty;
}
.vast-shadow-regular {
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
  }
.noto-serif-common {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.montserrat-common {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
body{
    background-image: url('../assets/images/backgrounds/black-linen.webp');
    background-color: #393E46;
}
h2{
    font-family: Montserrat;
    font-size: 6rem;
    color: #EAD196;
    text-align: center;
}
.section{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    padding: 2vh 0;
}
.active{
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
}