/* HEADER */
h1{
    font-size: 8rem;
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 25px 5px #000;
}
header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    box-shadow: inset 0 0 30px 20px #000;
}
.background-image{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(80%);
    object-fit: cover;
}
.header__content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__title{
    color: #EAD196;
}
.header__subtitle{
    color: #EAD196;
    font-size: 2rem;
    font-family: Montserrat;
}
/* MAIN */
.feat-prod{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}
.feat-prod__title{
    transform: translateX(-610px);
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6rem;
}
.feat-prod__link{
    font-size: 3rem;
    position: absolute;
    left: 28px;
    top: 300px;
    background-color: #EAD196;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Montserrat;
    color: #202A41;
}
.feat-prod__slider{
    position: relative;
    bottom: 100px;
    height: 10em;
    width: 100%;
    display : flex;
    align-items: center;
}
.feat-prod__slider::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 10em;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to right, #393E46, transparent);
}
.feat-prod__slider::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 10em;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to left, #393E46, transparent);
}
.slider__track{
    position: relative;
    will-change: transform;
    width: fit-content;
    height: inherit;
    display: flex;
}
.slide{
    height: 100%;
    width: 200px;
    background-color: #EAD196;
    border: 1px solid black;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;
    box-shadow: 
    0 -5px 10px -2px rgba(0, 0, 0, 0.5),
    0 5px 10px -2px rgba(0, 0, 0, 0.5);
}
.slider_active{
    transform: scale(0.98);
}
.slide:hover{
    transform: scale(1.001);
    transition: all 0.3s ease-in-out;
    z-index: 5;
}
.partners{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.partners__title{
    position: absolute;
    bottom: -100px;
    right: 20px;
    font-size: 6rem;
}
.presentation{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.presentation__title{
    position: absolute;
    top: -100px;
    left: 50%;
    width: 900px;
    font-size: 6rem;
}
