/* HEADER */
h1{
    font-size: 8rem;
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.background-image{
    width: 105%;
    position: absolute;
    z-index: -1;
    filter: brightness(80%);
}
.header__content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__title{
    color: #f5debf;
}
.header__subtitle{
    color: #F5CBBF;
    font-size: 2rem;
}
