@media (orientation: portrait) {
    .logo__link{
        top: 50px;
    }
    .feat-prod{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
        place-items: center;
        position: relative;
        overflow: hidden;
    }
    .feat-prod__title{
        grid-row: 1;
        text-align: center;
        margin: 0;
    }
    .feat-prod__categories{
        width: 80%;
        height: 100%;
    }
    .feat-prod__link{
        font-size: 1.5rem;
        margin: 0;
        grid-row: 2;
        padding: 0.5rem;
    }
    .feat-prod__categories{
        grid-row: 3;
        grid-column: 1;
    }
    .feat-prod__slider{
        overflow: hidden;
        position: relative;
        bottom: unset;
        grid-row: 4;
    }
    /* FOOTER */
    footer{
        flex-direction: column;
    }
    .footer__share{
        width: 100%;
    }
    .footer__contact{
        width: 100%;
    }
    .footer__separator{
        height: 5px;
        width: 80vw;
        border-radius: 5px;
    }
}
@media (orientation: landscape) {
    .feat-prod{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media (max-width: 1580px) {
    .header__subtitle{
        font-size: 2rem;
    }
    .feat-prod__title{
        font-size: 6rem;
    }
    .presentation__title{
        font-size: 6rem ;
    }
    .feat-prod__link{
        font-size: 3rem;
    }
}
@media (max-width: 1200px) {
    .header__subtitle{
        font-size: 2rem;
    }
    .feat-prod__title{
        font-size: 5em;
    }
    .presentation__title{
        font-size: 6rem ;
    }
    .feat-prod__link{
        font-size: 2.7rem;
    }
    .presentation > div{
        width: 80%;
    }
    footer img{
        width: 100%;
    }
}
@media (max-width: 1024px) {
    h1{
        font-size: 6rem;
    }
    .background-image{
        height: 105%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .header__subtitle{
        font-size: 2rem;
    }
    .feat-prod__title{
        font-size: 6rem;
    }
    .presentation__title{
        font-size: 5rem ;
    }
    .services p{
        font-size: 0.7rem;
        margin: 0.5rem;
    }
}
@media (max-width: 840px) {
    .presentation__title{
        font-size: 4.5rem;
    }
    .presentation__content{
        top: 6rem;
        width: 80vw;
    }
}
@media (max-width: 760px) {
    h1{
        font-size: 4rem;
    }
    .background-image{
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .header__subtitle{
        font-size: 1.4rem;
    }
    .feat-prod__title{
        font-size: 6rem;
    }
    .feat-prod__slider{
        height: 10rem;
    }
    .presentation p{
        font-size: 1.1rem;
    }
    .presentation__title{
        font-size: 4rem;
    }
    .services p{
        font-size: 0.7rem;
        margin: 0.5rem;
    }
}
@media (max-width: 680px) {
    .logo__link{
        transform: scale(0.6);
        top: 20px;
        left: 20px;
    }
    .logo__link:hover{
        transform: scale(0.65);
    }
    .feat-prod__title{
        font-size: 5rem;
    }
    .feat-prod__link{
        font-size: 3rem;
    }
    .presentation > div{
        width: 100%;
    }
    .presentation{
        width: 100%;
        
    }
    .presentation__title{
        font-size: 4rem;
    }
    .presentation p{
        font-size: 1.1rem;
    }
    .services p{
        font-size: 0.6rem;
    }
    .presentation__content4{
        width: 100vw;
    }
    footer p{
    font-size: 1.1rem;
    }
}
@media (max-width: 570px) {
    .feat-prod__link{
        font-size: 2.5rem;
    }
    .presentation p{
        font-size: 0.9rem;
    }
    .services p{
        font-size: 0.7rem;
    }
    .presentation h3{
        font-size: 1.2rem;  

    }
}
@media (max-width: 540px) {
    .feat-prod__title{
        font-size: 4rem;
    }
    .partners__title{
        font-size: 4rem;
    }
    .presentation__title{
        font-size: 4.5rem;
    }
    .feat-prod__link{
        font-size: 2.5rem;
    }
}
@media (max-width: 480px) {
    h1{
        font-size: 3rem;
    }
    .background-image{
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .header__subtitle{
        font-size: 1.2rem;
    }
    .feat-prod__title{
        font-size: 3.6rem;
    }
    .presentation__title{
        font-size: 3.8rem;
    }
    .feat-prod__link{
        font-size: 2rem;
    }
    .service__img{
        width: 40px;    
    }
    .services p{
        font-size: 0.6rem;
    }
    footer p{
    font-size: 0.8rem;
    }
    footer img{
        width: 60px;
    }
    .footer__heading{
        font-size: 2.5rem;
    }
}
@media (max-width: 410px) {
    .partners__title{
        font-size: 3.2rem;
    }
    .presentation__title{
        font-size: 2rem;
    }
    .service__img{
        width: 30px;    
    }
    footer h4{
        font-size: 1.5rem;
    }
    .copy__img{
        width: 50px;
        margin: 0 10px;
    }
    .location__img{
        width: 50px;
        margin: 0 10px;
    }
}
@media (max-width: 375px) {
    h1{
        font-size: 2.3rem;
    }
    .background-image{
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .header__subtitle{
        font-size: 1rem;
    }
    .feat-prod__title{
        font-size: 3rem;
    }
    .feat-prod__link{
        font-size: 1.8rem;
    }
}